{% extends 'myapp/base.html' %}

{% block body_block %}
<div class="jumbotron jumbotron-billboard" style=" background:transparent; background-image:none;border-color:transparent; box-shadow:none; ">
  <div class="img"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="color:">
                <h2>Hii Welcome to you</h2>
                <p>
                    If You New To My Side Please Sign up
                </p>
                <a href="/regis" class="btn btn-primary btn-lg">Sign Up</a>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="jumbotron" style=" background:transparent;
  background-image:none;
  border-color:transparent;
  box-shadow:none; ">
    <div class="container">
        <h1>welcome</h1>
    </div>
</div>
{% endblock %}
